@import url("http://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

*{
  margin: 0;
padding: 0;
 box-sizing: border-box;
font-family: "Poppins", "sans-serif";
}
a{
text-decoration: none;

}

body{
 position: relative;
 background: #5700af ;
 background-image:url("bg1.jpg") ;
 background-size: cover;
 background-repeat: no-repeat;
 display: flex;
 justify-content: flex-end;
 align-items: center;
 min-height: 100vh;

}

::selection {
 color:blanchedalmond;
 background: #5700af;
}

.form{
 position: relative;
 background: #e6e6fa ;
 width:150%;
 max-width: 500px;
 border-radius: 12px;
 box-shadow: -3px 3px 10px -5px rgba(0,0,0,2);
 padding: 30px 30px;
}

.form h2{
 font-size: 30px;
 font-weight: 700;
}

.form p{
 font-size: 14px;
 padding-bottom: 8px;
}

.form form{
 margin: 8px 0;

}

.form form .profile-img{
 position: absolute;
 top: 0;
 right: 0;
 width: 75px;
 height: 75px;
 margin: 18px 30px;
 background: #e6e6fa;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 border-radius: 50%;
 background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/7e/Circle-icons-profile.svg");
 border:4PX solid #5700af;
}

.file-upload{
 position: absolute;
 top: 0;
 right: -15px;
 width: 35px;
 height: 35px;
 display: flex;
 border-radius: 50%;
 border: 2px solid #e6e6fa;
 overflow: hidden;
 background: linear-gradient(to bottom, #5700af, #e6e6fa 50%);
 background-size: 100% 200%;
 transition: all ls;
 font-size: 14px;
 cursor: pointer;
}

form input[type="file"]{
 position: relative;
 height: 40px;
 width: 40px;
 opacity: 0;
 cursor: pointer;
 padding: 20px;
}

form i{
 position:absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%,-50%);
 font-size: 14px;
 color: black;
 z-index: 100;
 pointer-events: none;
 cursor: pointer;
}

.file-upload:hover{
 background-position: 0 100% ;
}

.file-upload:hover i{
 color: #7777ed;
}

.form form .error-text{
 display:none;
 color: rgb(95, 5, 5);
 padding: 4px 6px;
 text-align: center;
 border-radius: 4px;
 background: #adade4;
 border: 1px solid #49b0e8;
 margin-bottom: 8px;
}

.form .grid-details{
 display: flex;
}

.form .grid-details .input:first-child{
 margin-right: 8px;
 width: 100%;
}

.form .grid-details .input:last-child{
 margin-left: 8px;
 width: 100%;
}

.form form .input input{
 height: 40px;
 width: 100%;
 font-size: 14px;
 padding: 0  8px;
 border: 1px solid #e6e6fa;
 border-radius: 5px;
 outline: #5700af;
}

.form form .input input:focus,
.form form .input input:valid {
 border: 2px solid #5700af;
 transition: 0.1s ease;
 outline: none;
}

.form form input.button {
 height: 45px;
 border: none;
 color: #e6e6fa;
 width: 100%;
 background: #7433b5;
 font-size: 17px;
 border-radius: 5px;
 cursor: pointer;
 margin-top: 13px;
 border: 2px solid #5700af;
}

.form .link{
 text-align: center;
 margin: 10px 0;
 font-size: 15px;
}

.form .link a{
 color: #7433b5;
 text-decoration: none;
 transition: 0.5s all;
}

.form .link a:hover{
 text-decoration: underline;
}

